@font-face {
    font-family: 'Bubble';
    src: url('Fonts/Bubbleboddy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Arial, sans-serif;
    src: url('Fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bubble', sans-serif;
}
section {
    display: flex;
    width: 300px;
    heigth: 115px;
    background-size: cover;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
    background-size: cover;
}
section img:hover {
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
    background-size: cover;
}
